---
{# List each Collection individually for project_{{ role_name }}.
If no Collections, remove requirements.yml and/or collections/ directory. An empty requirements.yml will cause runtime errors. 
#}

collections:
  - 

...
